<h2>New Reservation</h2>

<%= simple_form_for(@reservation) do |f| %>
  <%= render "shared/error_messages", resource: @reservation %>

  <div class="form-inputs">
    <%= f.input :start_date, html5: true, input_html: {value: params[:reservation][:start_date]} %>
    <br/>
    <%= f.input :end_date, html5: true, input_html: {value: params[:reservation][:end_date]} %>
    <br/>
    <%= f.input :number_of_guests, as: :select, collection: 1..10, selected: params[:reservation][:number_of_guests] %>
    <br/>
    <%= f.input :room_id, as: :select, collection: Room.all.map { |room| [room.code, room.id] } %>
    <br/>
    <%= f.input :guest_name %>
  </div>

  <br/>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= link_to 'Back', :back %>
