<h2>New Reservation</h2>


<%= simple_form_for(Reservation.new, url: search_reservations_path, method: :get) do |f| %>
  <div class="field">
    <%= f.input :start_date, html5: true, label: 'From', input_html: {value: params.dig(:reservation, :start_date) || Date.today} %>
    <br/>
    <%= f.input :end_date, html5: true, label: 'To', input_html: {value: params.dig(:reservation, :end_date) || Date.tomorrow} %>
    <br/>
    <%= f.input :number_of_guests, as: :select, collection: 1..10, label: '# of guests', selected: params.dig(:reservation, :number_of_guests) || 1 %>
  </div>

  <div class="actions">
    <%= submit_tag 'Search for Available Rooms' %>
  </div>
<% end %>

<% if @should_show_results %>
  <section class="listing">
    <h3>Available Rooms</h3>

    <table>
      <thead>
        <tr>
          <th>Code</th>
          <th>Capacity</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% if @available_rooms.any? %>
          <% @available_rooms.each do |room| %>
            <tr>
              <td><%= room.code %></td>
              <td><%= pluralize(room.capacity, 'person', 'people') %></td>
              <td>
                <%= link_to 'Create Reservation', new_reservation_path( reservation: {
                  room_id: room.id,
                  start_date: params.dig(:reservation, :start_date),
                  end_date: params.dig(:reservation, :end_date),
                  number_of_guests: params.dig(:reservation, :number_of_guests),
                }) %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <td colspan="7">There are no available rooms for the selected filters.</td>
        <% end %>
      </tbody>
    </table>
  </section>
<% end %>

<br/>
<%= will_paginate @available_rooms %>
<br/>

<%= link_to 'Back', root_path %>
