<%= simple_form_for(@room) do |f| %>
  <%= render "shared/error_messages", resource: @room %>

  <div class="form-inputs">
    <%= f.input :code %>
    <br/>
    <%= f.input :capacity, as: :select, collection: 1..10, default: 1 %>
    <br/>
    <%= f.input :notes %>
  </div>

  <br/>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

